<%- contentFor('body') %>

<form
  method="post"
  action="/messages"
  class="add-new-message-form"
  enctype="application/x-www-form-urlencoded"
>
  <label> 
    Name
    <input
      required
      name="user"
      type="text"
      class="add-new-message-form__input"
    >
  </label>

  <label>
    Message
    <input
      required
      type="text"
      name="message"
      class="add-new-message-form__input"
    >
  </label>

  <label>
    Show
    <input
      required
      min="0"
      max="60"
      step="1"
      name="show"
      type="number"
      class="add-new-message-form__input"
    >
  </label>

  <button>Send</button>
</form
