<%- contentFor('body') %>

<h1>Messages</h1>

<a class="messages__button-add-new" href="/messages/new">+ Add one more</a>
<ul class="messages__list">
  <% messages.forEach(({ addedAt, user, message }) => { %>
    <%- include('message', { addedAt, user, message }); %>
  <% }); %>
</ul>
