<fieldset class="json-fieldset">
  <legend><%= legend %></legend>
  <label>
    <input type="radio" name="<%= name %>" value="asc">
    asc
  </label>
  <label>
    <input type="radio" name="<%= name %>" value="desc">
    desc
  </label>
  <label>
    <input type="radio" name="<%= name %>" value="">
    none
  </label>
</fieldset>
