<!DOCTYPE html>
  <html lang="en">
  <%- include('../includes/head') %>
  <body>
    <header class="header">
      <%- include('../includes/header/menu') %>
    </header>
    <main class="main">
      <div class="container">
        <%- body %>
      </div>
    </main>
    <footer class="footer">
      <div class="container">
        <%- include('../includes/footer') %>
      </div>
    </footer>
  </body>
</html>
